<label id="repo_owner_label" {{if .Err_Owner}}class="field error"{{end}}>
	{{ctx.Locale.Tr "repo.owner"}}
	<div class="ui selection required dropdown" aria-labelledby="repo_owner_label">
		{{if .CanCreateRepo}}
			<input type="hidden" id="uid" name="uid" value="{{.ContextUser.ID}}" required>
			<span class="text truncated-item-container" title="{{.ContextUser.DisplayUsername}}">
				{{ctx.AvatarUtils.Avatar .ContextUser 28 "mini"}}
				<span class="truncated-item-name">{{.ContextUser.ShortName 40}}</span>
			</span>
		{{else if .Orgs}}
			<input type="hidden" id="uid" name="uid" value="{{(index .Orgs 0).ID}}" required>
			<span class="text truncated-item-container" title="{{(index .Orgs 0).DisplayUsername}}">
				{{ctx.AvatarUtils.Avatar (index .Orgs 0) 28 "mini"}}
				<span class="truncated-item-name">{{(index .Orgs 0).ShortName 40}}</span>
			</span>
		{{end}}
		{{svg "octicon-triangle-down" 14 "dropdown icon"}}
		<div class="menu">
			{{if .CanCreateRepo}}
				<div class="item truncated-item-container" data-value="{{.SignedUser.ID}}" title="{{.SignedUser.DisplayUsername}}">
					{{ctx.AvatarUtils.Avatar .SignedUser 28 "mini"}}
					<span class="truncated-item-name">{{.SignedUser.ShortName 40}}</span>
				</div>
			{{end}}
			{{range .Orgs}}
				<div class="item truncated-item-container" data-value="{{.ID}}" title="{{.DisplayUsername}}">
					{{ctx.AvatarUtils.Avatar . 28 "mini"}}
					<span class="truncated-item-name">{{.ShortName 40}}</span>
				</div>
			{{end}}
		</div>
	</div>
</label>
<label>
	<input name="private" type="checkbox" {{if .IsForcedPrivate}}checked disabled{{else if .private}}checked{{end}}>
	{{ctx.Locale.Tr "repo.visibility_helper"}}
</label>
