{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository">
	{{template "repo/header" .}}
	<div id="w3ds-deploy-page" class="ui container" data-create-url="{{.RepoLink}}/deploy">
		{{if and .HostingEnabled (not .SimpleMode)}}
			<div class="ui secondary pointing menu deploy-mode-tabs" role="tablist">
				<a class="item{{if eq .DeployTab "managed"}} active{{end}}" role="tab" aria-selected="{{eq .DeployTab "managed"}}" href="{{.RepoLink}}/deploy">{{svg "octicon-cloud"}} {{ctx.Locale.Tr "platform.hosting.tab_managed"}}</a>
				<a class="item{{if eq .DeployTab "self"}} active{{end}}" role="tab" aria-selected="{{eq .DeployTab "self"}}" href="{{.RepoLink}}/deploy?tab=self">{{svg "octicon-server"}} {{ctx.Locale.Tr "platform.hosting.tab_self"}}</a>
			</div>
		{{end}}
		{{if eq .DeployTab "managed"}}
			{{template "repo/deploy/managed" .}}
		{{else}}
			{{template "repo/deploy/self_hosted" .}}
		{{end}}
	</div>
</div>
{{template "base/footer" .}}
