<dialog id="managed-log-modal" class="managed-log-modal">
	<article>
		<header data-managed-log-title>{{ctx.Locale.Tr "platform.hosting.log_title"}}</header>
		<div class="content"><pre data-managed-log-output tabindex="0"></pre></div>
		<footer><button type="button" class="ui cancel button">{{ctx.Locale.Tr "platform.hosting.close"}}</button></footer>
	</article>
</dialog>
