# /etc/gitw3/backup.env
ROLE=forgejo
BACKUP_BUCKET=gitw3-backups
PGURL=postgres://gitw3:password@private-gitw3-pg.db.ondigitalocean.com:25060/gitw3?sslmode=require
RCLONE_CONFIG=/etc/gitw3/rclone.conf
